/*
=====================================
    Text formatting elements.  [hi-d]
=====================================
*/

b, 
i, 
tt, 
u, 
sup, 
sub {
  display: inline;
}

b {
  font-weight: bold;
}

i {
  font-style: italic;
}

tt {
  font-family: monospace;
  font-size:0.9em;
}

u {
  text-decoration: underline;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}
